.jumbotron {
	background-color: #212529;
	color: black;
	margin-top: 50px;
	margin-bottom: 0px; }



footer {
	padding: 10px 10px 0 10px;
	background-color: #212529;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%
	

}

.footer-address-icon {
	padding-right:  10px;
}

.tab-content {
	padding-top: 10px;
}